* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.router-view {
  height: calc(100% - 3.25rem) !important
}

.control {
  margin-top: 1rem;
}

#app {
  min-width: 300px;
  height: 100%
}

.modal-card {
  max-width: 100% !important
}

@media screen and (max-width: 768px) {
  .router-view {
    height: 100% !important
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .router-view {
    height: calc(100% - 6.5rem) !important
  }
}