*{
  margin: 0;
  padding: 0;
}
.router-view {
  height: calc(100vh - 3.25rem)
}
.control {
  margin-top: 1rem;
}
#app {
  min-width: 300px;
}
.modal-card  {
  max-width: 100% !important
}

@media screen and (max-width: 768px) {

  #app{
    margin-top: 3rem;
  }
  .router-view {
    height: calc(100% - 3.5rem)
  }

}
@media screen and (max-width: 1023px) {

  .router-view {
    height: calc(100vh - 6.5rem)
  }


}