.button {
  width: 20rem;
  height: 6rem;
  line-height: 0rem;
  display: block;
  margin: 2rem 0
}
.button-group {
  width: 20rem;
}
#sign {
  display: flex;
  justify-content: center;
  align-items: center;
}